*{
    margin: 0;
    box-sizing: border-box;
}

#page-wrapper{
    background-color: white;
    margin: 0 auto;
    height: 100vh;
}

/*------Header & Footer------*/

header{
    height: 20vh;
    background-color: #70a0af;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

header h1{
    font-family: 'Copperplate';
    font-size: calc(1px + 5vw);
}

header p{
    font-family: 'OCR A Std', monospace;
    font-size: calc(1px + 1vw);
}

footer{
    height: 4vh;
    color:white;
    background-color: #70a0af;
    display:flex;
    justify-content: right;
    text-align: center;
    padding-right:1%;
}

footer a{
    color:white;
}

/*------Entire Content Display------*/

.wrap{
    display: flex;
}

/*------Navigation Bar------*/

nav{
    background-color: #f4e8c1;
    width: 15vw;
    height: 76vh;
}

nav ul{
    padding-left: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
}

nav ul :hover{
    background-color: #f0c0c0;
}

nav li{
    text-align: center;;
    padding: 8%;
}

nav a{
    text-decoration: none;
    color: #513721; 
    font-size: 100%;

}

/*------Main Contents------*/

.whitepart{
    width: 85vw;
    display: flex;
}

.whitepart img{
    object-fit: cover;
    width: 30vw;
    height: 75vh;
    max-width: 80%;
    padding: 2%;
}

.whitepart main{
    width: 55vw;
    padding: 7% 3% 7% 3%;
    line-height: 180%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main p{
    margin-bottom: 5%;
}


/*-----------------------------------------------------------------------------------------*/






@media screen and (max-width: 900px){
    .wrap{
        flex-direction: column;
    }

    nav{
        width: 100%;
        height: 10%;
    }

    nav ul{
        padding-left: 0;
        list-style: none;
        display: flex;
        flex-direction: row;
    }


    nav li{
        text-align: center;;
        padding: 2%;
    }

    nav a{ 
        font-size: 100%;
    }

    .whitepart{
        width: 100%;
    }

    .whitepart img{
        min-width: 49%;
    }

    .whitepart main{
        width: 55vw;
    }
}