*{
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
}

#page-wrapper{
    background-color: #ebf1f4;
    margin: 0 auto;
    height: 100%;
    width: 85%;
}

/*------Header & Footer------*/

header{
    height: 20vh;
    background-color: #70a0af;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

header h1{
    font-family: 'Copperplate';
    font-size: calc(1px + 5vw);
}

header p{
    font-family: 'OCR A Std', monospace;
    font-size: calc(1px + 1vw);
}

footer{
    height: 4vh;
    color:white;
    background-color: #70a0af;
    display:flex;
    justify-content: right;
    text-align: center;
    padding-right:1%;
}

footer a{
    color:white;
}

/*------Entire Content Display------*/

.wrap{
    display: flex;
}

/*------Navigation Bar------*/

nav{
    background-color: #f4e8c1;
    width: 15vw;
    height: 76vh;
}

nav ul{
    padding-left: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
}

nav ul :hover{
    background-color: #f0c0c0;
}

nav li{
    text-align: center;;
    padding: 8%;
}

nav a{
    text-decoration: none;
    color: #513721; 
    font-size: calc(0.3px + 1.2vw);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*------Main Contents------*/

.whitepart, .whitepart2{
    width: 70vw;
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.whitepart img{
    object-fit: cover;
    width: 30vw;
    height: 75vh;
    max-width: 80%;
    padding: 2%;
}

.whitepart main{
    width: 55vw;
    padding: 7% 3% 7% 3%;
    line-height: 180%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.whitepart main p{
    margin-bottom: 5%;
    font-size: calc(2px + 1vw);
}
.photo{
    width: 85vw;
    display: grid;
}

.photo img{
    width: 30vw;
}

.exp{
    padding: 3%;
}

.exp h4{
    padding-top: 1%;
}

.exp li{
    font-size: calc(1px + 1.1vw);
}

/*------------phone screen-----------------------------------------------------------------------------*/



@media screen and (max-width: 900px){
    .wrap{
        flex-direction: column;
    }

    nav{
        width: 100%;
        height: auto;
    }

    nav ul{
        padding-left: 0;
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
    }


    nav li{
        padding: 1%;
    }

    nav a{ 
        font-size: 100%;
    }

    .whitepart main p{
        font-size: calc(2px + 2.5vw);
    }

    .whitepart{
        flex-direction: column;
        width: 100%;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    .whitepart img{
        width: 90%;
        max-width: none;
        height: 40vh;
        object-fit: cover;
        object-position: center 30%;/*this is apparently used often with object fit. learned in W3Schools CSS tutorial*/
        padding: 2%;
    }

    .whitepart main{
        width: 70vw;
    }

    .exp{
        padding: 7%;
        font-size: calc(1px + 3vw);
    }

    .job{
        padding-bottom: 5%;
    }

    .exp h2{
        font-size: calc(4px + 3vw);
    }

    .exp h4{
        font-size: calc(1px + 3vw);
    }

    .exp p{
        font-size: calc(1px + 2.5vw);
    }
    
    .exp li{
        font-size: calc(1px + 2.5vw);
    }
}